# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Android/build files
*.apk
*.aab
*.zip

# Test results
playwright-report/
test-results/

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dev / Temporary
dev-dist/
eslint_report.json
_deleted_backup/
